* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generals */

.bg-azure {
    background-color: rgba(223, 241, 243, 0.76);
}

body {
    max-width: 1024px;
    margin: 20px auto 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

/* Header */

header {
    height: 100px;
    margin-bottom: 20px;
}

#logo>img {
    height: 50px;
    width: auto;
}

.links {
    margin-top: 30px;
    font-size: 12px;
    color: rgba(163, 163, 163, 0.788);
    height: 50px;
    width: auto;
}

.links ul li {
    list-style-type: none;
    text-transform: uppercase;
    display: inline-block;
    padding-right: 10px;
}

.container {
    margin: 30px 0 10px;
}

.section {
    height: 450px;
    width: 100%;
    margin-bottom: 30px;
}

.banner {
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url("../img/banner.jpg");
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.text {
    width: 50%;
    padding-left: 45px;
    padding-top: 280px;
}

.text h2 {
    color: rgba(255, 255, 255, 0.959);
    font-size: 25px;
    font-weight: 100;
}

.text p {
    color: rgba(255, 255, 255, 0.705);
}

.wallpaper-cont {
    height: 600px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.row {
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
}

.row h1 {
    font-size: 28px;
    font-weight: 800;
}

.row span {
    color: rgba(71, 71, 71, 0.505);
}

.columns {
    height: 475px;
    width: 1024px;
}

.sidebar {
    height: 100%;
    width: 20%;
}

.column-left .img-left {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgb(0, 0, 0, 0.2)), url("../img/img-1.jpg");
    background-size: 200px;
    background-position: center;
    height: 180px;
    width: 100%;
    border-radius: 10px;
}

.column-left .Details {
    height: 70%;
    width: 100%;
}

.main-content {
    height: 100%;
    width: calc(60% - 40px);
    margin: 0 20px;
}

/* Si può usare anche il padding al posto di 
width: calc(60% - 40px) perchè è solo layout.
Se ho del contenuto all'interno allora è meglio
width perchè se no viene "schiacciato" il contenuto. */

footer {
    background-color: rgb(149, 2, 207);
    height: 55px;
}